base/
├── polipo
│   └── config
├── proxy
├── rvm
│   └── bin-ruby-2.3.1.tar.bz2
├── shadowsocks
│   ├── config.json
│   ├── config.json.v4
│   ├── config.json.v6
│   ├── shadowsocks-local-linux64-1.1.4
│   └── shadowsocks-local-linux64-1.1.4.desktop
└── structure.example

4 directories, 8 files
